@import 'tailwindcss';
@import './fonts.css';

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background: var(--color-gray-200);
    font-family: var(--font-sans);
    font-feature-settings: 'calt';
    font-variation-settings: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}
