[data-theme="default"] {
  /* number */
  --breakpoint-breakpoint-maxwidth: 2048px;

}
[data-theme="desktop"] {
  /* number */
  --grid-default-margin-offset: 16px;
  --grid-default-gutter: 40px;
  --grid-default-colspan-1: 70px;
  --grid-default-margin: 80px;
  --grid-default-colspan-2: 180px;
  --grid-default-colspan-3: 290px;
  --grid-default-colspan-4: 400px;
  --grid-default-colspan-sidepanel: 450px;
  --grid-default-colspan-5: 510px;
  --grid-default-colspan-6: 620px;
  --grid-default-colspan-7: 730px;
  --grid-default-colspan-8: 840px;
  --grid-default-height: 900px;
  --grid-default-colspan-9: 950px;
  --grid-default-colspan-10: 1060px;
  --grid-default-colspan-11: 1170px;
  --grid-default-colspan-12: 1280px;
  --grid-default-colspan-fullwidth: 1440px;
  --grid-default-height-landscape-colspan-1: 39px;
  --grid-default-height-landscape-colspan-2: 101px;
  --grid-default-height-landscape-colspan-3: 163px;
  --grid-default-height-landscape-colspan-4: 225px;
  --grid-default-height-landscape-colspan-5: 287px;
  --grid-default-height-landscape-colspan-6: 349px;
  --grid-default-height-landscape-colspan-7: 411px;
  --grid-default-height-landscape-colspan-8: 473px;
  --grid-default-height-landscape-colspan-9: 534px;
  --grid-default-height-landscape-colspan-10: 596px;
  --grid-default-height-landscape-colspan-11: 658px;
  --grid-default-height-landscape-colspan-12: 756px;
  --grid-default-height-landscape-colspan-fullwidth: 810px;
  --grid-default-height-portrait-colspan-1: 88px;
  --grid-default-height-portrait-colspan-2: 225px;
  --grid-default-height-portrait-colspan-3: 363px;
  --grid-default-height-portrait-colspan-4: 500px;
  --grid-default-height-portrait-colspan-5: 638px;
  --grid-default-height-portrait-colspan-6: 775px;
  --grid-default-height-portrait-colspan-7: 913px;
  --grid-default-height-portrait-colspan-8: 1050px;
  --grid-default-height-portrait-colspan-9: 1188px;
  --grid-default-height-portrait-colspan-10: 1325px;
  --grid-default-height-portrait-colspan-11: 1463px;
  --grid-default-height-portrait-colspan-12: 1600px;
  --grid-default-height-portrait-colspan-fullwidth: 1800px;
  --grid-fullwidth-gutter: 0px;
  --grid-fullwidth-margin: 0px;
  --grid-fullwidth-margin-offset: 16px;
  --grid-fullwidth-colspan-1: 120px;
  --grid-fullwidth-colspan-2: 240px;
  --grid-fullwidth-colspan-3: 360px;
  --grid-fullwidth-colspan-4: 480px;
  --grid-fullwidth-colspan-5: 600px;
  --grid-fullwidth-colspan-6: 720px;
  --grid-fullwidth-colspan-7: 840px;
  --grid-fullwidth-height: 900px;
  --grid-fullwidth-colspan-8: 960px;
  --grid-fullwidth-colspan-9: 1080px;
  --grid-fullwidth-colspan-10: 1200px;
  --grid-fullwidth-colspan-11: 1320px;
  --grid-fullwidth-colspan-12: 1440px;
  --grid-fullwidth-colspan-fullwidth: 1440px;
  --grid-fullwidth-height-landscape-colspan-1: 68px;
  --grid-fullwidth-height-landscape-colspan-2: 135px;
  --grid-fullwidth-height-landscape-colspan-3: 203px;
  --grid-fullwidth-height-landscape-colspan-4: 270px;
  --grid-fullwidth-height-landscape-colspan-5: 338px;
  --grid-fullwidth-height-landscape-colspan-6: 405px;
  --grid-fullwidth-height-landscape-colspan-7: 473px;
  --grid-fullwidth-height-landscape-colspan-8: 540px;
  --grid-fullwidth-height-landscape-colspan-9: 608px;
  --grid-fullwidth-height-landscape-colspan-10: 675px;
  --grid-fullwidth-height-landscape-colspan-11: 743px;
  --grid-fullwidth-height-landscape-colspan-12: 810px;
  --grid-fullwidth-height-landscape-colspan-fullwidth: 810px;
  --grid-fullwidth-height-portrait-colspan-1: 150px;
  --grid-fullwidth-height-portrait-colspan-2: 300px;
  --grid-fullwidth-height-portrait-colspan-3: 450px;
  --grid-fullwidth-height-portrait-colspan-4: 600px;
  --grid-fullwidth-height-portrait-colspan-5: 750px;
  --grid-fullwidth-height-portrait-colspan-6: 900px;
  --grid-fullwidth-height-portrait-colspan-7: 1050px;
  --grid-fullwidth-height-portrait-colspan-8: 1200px;
  --grid-fullwidth-height-portrait-colspan-9: 1350px;
  --grid-fullwidth-height-portrait-colspan-10: 1500px;
  --grid-fullwidth-height-portrait-colspan-11: 1650px;
  --grid-fullwidth-height-portrait-colspan-12: 1800px;
  --grid-fullwidth-height-portrait-colspan-fullwidth: 1800px;
  --grid-presentation-gutter: 24px;
  --grid-presentation-margin-offset: 32px;
  --grid-presentation-margin: 96px;
  --grid-presentation-colspan-1: 122px;
  --grid-presentation-colspan-2: 268px;
  --grid-presentation-colspan-3: 414px;
  --grid-presentation-colspan-4: 560px;
  --grid-presentation-colspan-5: 706px;
  --grid-presentation-colspan-6: 852px;
  --grid-presentation-colspan-7: 998px;
  --grid-presentation-height: 1080px;
  --grid-presentation-colspan-8: 1144px;
  --grid-presentation-colspan-9: 1290px;
  --grid-presentation-colspan-10: 1436px;
  --grid-presentation-colspan-11: 1582px;
  --grid-presentation-colspan-12: 1728px;
  --grid-presentation-colspan-fullwidth: 1920px;
  --grid-presentation-height-landscape-colspan-1: 69px;
  --grid-presentation-height-landscape-colspan-2: 151px;
  --grid-presentation-height-landscape-colspan-3: 233px;
  --grid-presentation-height-landscape-colspan-4: 315px;
  --grid-presentation-height-landscape-colspan-5: 397px;
  --grid-presentation-height-landscape-colspan-6: 479px;
  --grid-presentation-height-landscape-colspan-7: 561px;
  --grid-presentation-height-landscape-colspan-8: 644px;
  --grid-presentation-height-landscape-colspan-9: 726px;
  --grid-presentation-height-landscape-colspan-10: 808px;
  --grid-presentation-height-landscape-colspan-11: 890px;
  --grid-presentation-height-landscape-colspan-12: 972px;
  --grid-presentation-height-landscape-colspan-fullwidth: 1080px;
  --grid-presentation-height-portrait-colspan-1: 153px;
  --grid-presentation-height-portrait-colspan-2: 335px;
  --grid-presentation-height-portrait-colspan-3: 518px;
  --grid-presentation-height-portrait-colspan-4: 700px;
  --grid-presentation-height-portrait-colspan-5: 883px;
  --grid-presentation-height-portrait-colspan-6: 1065px;
  --grid-presentation-height-portrait-colspan-7: 1248px;
  --grid-presentation-height-portrait-colspan-8: 1430px;
  --grid-presentation-height-portrait-colspan-9: 1613px;
  --grid-presentation-height-portrait-colspan-10: 1795px;
  --grid-presentation-height-portrait-colspan-11: 1978px;
  --grid-presentation-height-portrait-colspan-12: 2160px;
  --grid-presentation-height-portrait-colspan-fullwidth: 2400px;

}
[data-theme="mobile"] {
  /* number */
  --grid-default-gutter: 12px;
  --grid-default-colspan-1: 18px;
  --grid-default-margin: 21px;
  --grid-default-margin-offset: 21px;
  --grid-default-colspan-2: 48px;
  --grid-default-colspan-3: 78px;
  --grid-default-colspan-4: 108px;
  --grid-default-colspan-5: 138px;
  --grid-default-colspan-6: 168px;
  --grid-default-colspan-7: 198px;
  --grid-default-colspan-8: 228px;
  --grid-default-colspan-9: 258px;
  --grid-default-colspan-10: 288px;
  --grid-default-colspan-11: 318px;
  --grid-default-colspan-12: 348px;
  --grid-default-colspan-fullwidth: 390px;
  --grid-default-colspan-sidepanel: 390px;
  --grid-default-height: 844px;
  --grid-default-height-landscape-colspan-1: 10px;
  --grid-default-height-landscape-colspan-2: 27px;
  --grid-default-height-landscape-colspan-3: 44px;
  --grid-default-height-landscape-colspan-4: 61px;
  --grid-default-height-landscape-colspan-5: 78px;
  --grid-default-height-landscape-colspan-6: 95px;
  --grid-default-height-landscape-colspan-7: 111px;
  --grid-default-height-landscape-colspan-8: 128px;
  --grid-default-height-landscape-colspan-9: 145px;
  --grid-default-height-landscape-colspan-10: 162px;
  --grid-default-height-landscape-colspan-11: 179px;
  --grid-default-height-landscape-colspan-12: 196px;
  --grid-default-height-landscape-colspan-fullwidth: 219px;
  --grid-default-height-portrait-colspan-1: 23px;
  --grid-default-height-portrait-colspan-2: 60px;
  --grid-default-height-portrait-colspan-3: 98px;
  --grid-default-height-portrait-colspan-4: 135px;
  --grid-default-height-portrait-colspan-5: 173px;
  --grid-default-height-portrait-colspan-6: 210px;
  --grid-default-height-portrait-colspan-7: 248px;
  --grid-default-height-portrait-colspan-8: 285px;
  --grid-default-height-portrait-colspan-9: 323px;
  --grid-default-height-portrait-colspan-10: 360px;
  --grid-default-height-portrait-colspan-11: 398px;
  --grid-default-height-portrait-colspan-12: 435px;
  --grid-default-height-portrait-colspan-fullwidth: 488px;
  --grid-fullwidth-gutter: 0px;
  --grid-fullwidth-margin: 0px;
  --grid-fullwidth-margin-offset: 21px;
  --grid-fullwidth-colspan-1: 32.5px;
  --grid-fullwidth-colspan-2: 65px;
  --grid-fullwidth-colspan-3: 97.5px;
  --grid-fullwidth-colspan-4: 130px;
  --grid-fullwidth-colspan-5: 162.5px;
  --grid-fullwidth-colspan-6: 195px;
  --grid-fullwidth-colspan-7: 227.5px;
  --grid-fullwidth-colspan-8: 260px;
  --grid-fullwidth-colspan-9: 292.5px;
  --grid-fullwidth-colspan-10: 325px;
  --grid-fullwidth-colspan-11: 357.5px;
  --grid-fullwidth-colspan-12: 390px;
  --grid-fullwidth-colspan-fullwidth: 390px;
  --grid-fullwidth-height: 844px;
  --grid-fullwidth-height-landscape-colspan-1: 18px;
  --grid-fullwidth-height-landscape-colspan-2: 37px;
  --grid-fullwidth-height-landscape-colspan-3: 55px;
  --grid-fullwidth-height-landscape-colspan-4: 73px;
  --grid-fullwidth-height-landscape-colspan-5: 91px;
  --grid-fullwidth-height-landscape-colspan-6: 110px;
  --grid-fullwidth-height-landscape-colspan-7: 128px;
  --grid-fullwidth-height-landscape-colspan-8: 146px;
  --grid-fullwidth-height-landscape-colspan-9: 165px;
  --grid-fullwidth-height-landscape-colspan-10: 183px;
  --grid-fullwidth-height-landscape-colspan-11: 201px;
  --grid-fullwidth-height-landscape-colspan-12: 219px;
  --grid-fullwidth-height-landscape-colspan-fullwidth: 219px;
  --grid-fullwidth-height-portrait-colspan-1: 41px;
  --grid-fullwidth-height-portrait-colspan-2: 81px;
  --grid-fullwidth-height-portrait-colspan-3: 122px;
  --grid-fullwidth-height-portrait-colspan-4: 163px;
  --grid-fullwidth-height-portrait-colspan-5: 203px;
  --grid-fullwidth-height-portrait-colspan-6: 244px;
  --grid-fullwidth-height-portrait-colspan-7: 284px;
  --grid-fullwidth-height-portrait-colspan-8: 325px;
  --grid-fullwidth-height-portrait-colspan-9: 366px;
  --grid-fullwidth-height-portrait-colspan-10: 406px;
  --grid-fullwidth-height-portrait-colspan-11: 447px;
  --grid-fullwidth-height-portrait-colspan-12: 488px;
  --grid-fullwidth-height-portrait-colspan-fullwidth: 488px;
  --grid-presentation-colspan-1: 0px;
  --grid-presentation-colspan-10: 0px;
  --grid-presentation-colspan-11: 0px;
  --grid-presentation-colspan-12: 0px;
  --grid-presentation-colspan-2: 0px;
  --grid-presentation-colspan-3: 0px;
  --grid-presentation-colspan-4: 0px;
  --grid-presentation-colspan-5: 0px;
  --grid-presentation-colspan-6: 0px;
  --grid-presentation-colspan-7: 0px;
  --grid-presentation-colspan-8: 0px;
  --grid-presentation-colspan-9: 0px;
  --grid-presentation-colspan-fullwidth: 0px;
  --grid-presentation-gutter: 0px;
  --grid-presentation-height: 0px;
  --grid-presentation-margin: 0px;
  --grid-presentation-margin-offset: 0px;
  --grid-presentation-height-landscape-colspan-1: 0px;
  --grid-presentation-height-landscape-colspan-10: 0px;
  --grid-presentation-height-landscape-colspan-11: 0px;
  --grid-presentation-height-landscape-colspan-12: 0px;
  --grid-presentation-height-landscape-colspan-2: 0px;
  --grid-presentation-height-landscape-colspan-3: 0px;
  --grid-presentation-height-landscape-colspan-4: 0px;
  --grid-presentation-height-landscape-colspan-5: 0px;
  --grid-presentation-height-landscape-colspan-6: 0px;
  --grid-presentation-height-landscape-colspan-7: 0px;
  --grid-presentation-height-landscape-colspan-8: 0px;
  --grid-presentation-height-landscape-colspan-9: 0px;
  --grid-presentation-height-landscape-colspan-fullwidth: 0px;
  --grid-presentation-height-portrait-colspan-1: 0px;
  --grid-presentation-height-portrait-colspan-10: 0px;
  --grid-presentation-height-portrait-colspan-11: 0px;
  --grid-presentation-height-portrait-colspan-12: 0px;
  --grid-presentation-height-portrait-colspan-2: 0px;
  --grid-presentation-height-portrait-colspan-3: 0px;
  --grid-presentation-height-portrait-colspan-4: 0px;
  --grid-presentation-height-portrait-colspan-5: 0px;
  --grid-presentation-height-portrait-colspan-6: 0px;
  --grid-presentation-height-portrait-colspan-7: 0px;
  --grid-presentation-height-portrait-colspan-8: 0px;
  --grid-presentation-height-portrait-colspan-9: 0px;
  --grid-presentation-height-portrait-colspan-fullwidth: 0px;
  
}
[data-theme="tablet"] {
  /* number */
  --grid-default-gutter: 12px;
  --grid-default-margin: 21px;
  --grid-default-margin-offset: 21px;
  --grid-default-colspan-1: 55px;
  --grid-default-colspan-2: 122px;
  --grid-default-colspan-3: 189px;
  --grid-default-colspan-4: 256px;
  --grid-default-colspan-5: 323px;
  --grid-default-colspan-6: 390px;
  --grid-default-colspan-sidepanel: 450px;
  --grid-default-colspan-7: 457px;
  --grid-default-colspan-8: 524px;
  --grid-default-colspan-9: 591px;
  --grid-default-colspan-10: 658px;
  --grid-default-colspan-11: 725px;
  --grid-default-colspan-12: 792px;
  --grid-default-colspan-fullwidth: 834px;
  --grid-default-height: 852px;
  --grid-default-height-landscape-colspan-1: 31px;
  --grid-default-height-landscape-colspan-2: 69px;
  --grid-default-height-landscape-colspan-3: 106px;
  --grid-default-height-landscape-colspan-4: 144px;
  --grid-default-height-landscape-colspan-5: 182px;
  --grid-default-height-landscape-colspan-6: 219px;
  --grid-default-height-landscape-colspan-7: 257px;
  --grid-default-height-landscape-colspan-8: 295px;
  --grid-default-height-landscape-colspan-9: 332px;
  --grid-default-height-landscape-colspan-10: 370px;
  --grid-default-height-landscape-colspan-11: 408px;
  --grid-default-height-landscape-colspan-12: 446px;
  --grid-default-height-landscape-colspan-fullwidth: 469px;
  --grid-default-height-portrait-colspan-1: 69px;
  --grid-default-height-portrait-colspan-2: 153px;
  --grid-default-height-portrait-colspan-3: 236px;
  --grid-default-height-portrait-colspan-4: 320px;
  --grid-default-height-portrait-colspan-5: 404px;
  --grid-default-height-portrait-colspan-6: 488px;
  --grid-default-height-portrait-colspan-7: 571px;
  --grid-default-height-portrait-colspan-8: 655px;
  --grid-default-height-portrait-colspan-9: 739px;
  --grid-default-height-portrait-colspan-10: 823px;
  --grid-default-height-portrait-colspan-11: 906px;
  --grid-default-height-portrait-colspan-12: 990px;
  --grid-default-height-portrait-colspan-fullwidth: 1043px;
  --grid-fullwidth-gutter: 0px;
  --grid-fullwidth-margin: 0px;
  --grid-fullwidth-margin-offset: 21px;
  --grid-fullwidth-colspan-1: 69.5px;
  --grid-fullwidth-colspan-2: 139px;
  --grid-fullwidth-colspan-3: 208.5px;
  --grid-fullwidth-colspan-4: 278px;
  --grid-fullwidth-colspan-5: 347.5px;
  --grid-fullwidth-colspan-6: 417px;
  --grid-fullwidth-colspan-7: 486.5px;
  --grid-fullwidth-colspan-8: 556px;
  --grid-fullwidth-colspan-9: 625.5px;
  --grid-fullwidth-colspan-10: 695px;
  --grid-fullwidth-colspan-11: 764.5px;
  --grid-fullwidth-colspan-12: 834px;
  --grid-fullwidth-colspan-fullwidth: 834px;
  --grid-fullwidth-height: 852px;
  --grid-fullwidth-height-landscape-colspan-1: 39px;
  --grid-fullwidth-height-landscape-colspan-2: 78px;
  --grid-fullwidth-height-landscape-colspan-3: 117px;
  --grid-fullwidth-height-landscape-colspan-4: 156px;
  --grid-fullwidth-height-landscape-colspan-5: 195px;
  --grid-fullwidth-height-landscape-colspan-6: 235px;
  --grid-fullwidth-height-landscape-colspan-7: 274px;
  --grid-fullwidth-height-landscape-colspan-8: 313px;
  --grid-fullwidth-height-landscape-colspan-9: 352px;
  --grid-fullwidth-height-landscape-colspan-10: 391px;
  --grid-fullwidth-height-landscape-colspan-11: 430px;
  --grid-fullwidth-height-landscape-colspan-12: 469px;
  --grid-fullwidth-height-landscape-colspan-fullwidth: 469px;
  --grid-fullwidth-height-portrait-colspan-1: 87px;
  --grid-fullwidth-height-portrait-colspan-2: 174px;
  --grid-fullwidth-height-portrait-colspan-3: 261px;
  --grid-fullwidth-height-portrait-colspan-4: 348px;
  --grid-fullwidth-height-portrait-colspan-5: 434px;
  --grid-fullwidth-height-portrait-colspan-6: 521px;
  --grid-fullwidth-height-portrait-colspan-7: 608px;
  --grid-fullwidth-height-portrait-colspan-8: 695px;
  --grid-fullwidth-height-portrait-colspan-9: 782px;
  --grid-fullwidth-height-portrait-colspan-10: 869px;
  --grid-fullwidth-height-portrait-colspan-11: 956px;
  --grid-fullwidth-height-portrait-colspan-12: 1043px;
  --grid-fullwidth-height-portrait-colspan-fullwidth: 1043px;
  --grid-presentation-colspan-1: 0px;
  --grid-presentation-colspan-10: 0px;
  --grid-presentation-colspan-11: 0px;
  --grid-presentation-colspan-12: 0px;
  --grid-presentation-colspan-2: 0px;
  --grid-presentation-colspan-3: 0px;
  --grid-presentation-colspan-4: 0px;
  --grid-presentation-colspan-5: 0px;
  --grid-presentation-colspan-6: 0px;
  --grid-presentation-colspan-7: 0px;
  --grid-presentation-colspan-8: 0px;
  --grid-presentation-colspan-9: 0px;
  --grid-presentation-colspan-fullwidth: 0px;
  --grid-presentation-gutter: 0px;
  --grid-presentation-height: 0px;
  --grid-presentation-margin: 0px;
  --grid-presentation-margin-offset: 0px;
  --grid-presentation-height-landscape-colspan-1: 0px;
  --grid-presentation-height-landscape-colspan-10: 0px;
  --grid-presentation-height-landscape-colspan-11: 0px;
  --grid-presentation-height-landscape-colspan-12: 0px;
  --grid-presentation-height-landscape-colspan-2: 0px;
  --grid-presentation-height-landscape-colspan-3: 0px;
  --grid-presentation-height-landscape-colspan-4: 0px;
  --grid-presentation-height-landscape-colspan-5: 0px;
  --grid-presentation-height-landscape-colspan-6: 0px;
  --grid-presentation-height-landscape-colspan-7: 0px;
  --grid-presentation-height-landscape-colspan-8: 0px;
  --grid-presentation-height-landscape-colspan-9: 0px;
  --grid-presentation-height-landscape-colspan-fullwidth: 0px;
  --grid-presentation-height-portrait-colspan-1: 0px;
  --grid-presentation-height-portrait-colspan-10: 0px;
  --grid-presentation-height-portrait-colspan-11: 0px;
  --grid-presentation-height-portrait-colspan-12: 0px;
  --grid-presentation-height-portrait-colspan-2: 0px;
  --grid-presentation-height-portrait-colspan-3: 0px;
  --grid-presentation-height-portrait-colspan-4: 0px;
  --grid-presentation-height-portrait-colspan-5: 0px;
  --grid-presentation-height-portrait-colspan-6: 0px;
  --grid-presentation-height-portrait-colspan-7: 0px;
  --grid-presentation-height-portrait-colspan-8: 0px;
  --grid-presentation-height-portrait-colspan-9: 0px;
  --grid-presentation-height-portrait-colspan-fullwidth: 0px;
  
}


[data-theme="default"] {
  /* number */
  --letter-spacing-body-style1-1000: -2.4000000953674316px;
  --letter-spacing-body-style1-900: -1.9199999570846558px;
  --letter-spacing-body-style1-800: -0.9599999785423279px;
  --letter-spacing-body-style1-700: -0.47999998927116394px;
  --letter-spacing-body-style1-600: -0.18000000715255737px;
  --letter-spacing-body-style1-500: -0.11999999731779099px;
  --letter-spacing-body-style1-100: 0px;
  --letter-spacing-body-style1-200: 0px;
  --letter-spacing-body-style1-300: 0px;
  --letter-spacing-body-style1-400: 0px;
  --letter-spacing-body-style2-1000: -1.600000023841858px;
  --letter-spacing-body-style2-900: -1.440000057220459px;
  --letter-spacing-body-style2-800: -0.6399999856948853px;
  --letter-spacing-body-style2-700: -0.23999999463558197px;
  --letter-spacing-body-style2-100: 0px;
  --letter-spacing-body-style2-200: 0px;
  --letter-spacing-body-style2-300: 0px;
  --letter-spacing-body-style2-400: 0px;
  --letter-spacing-body-style2-500: 0px;
  --letter-spacing-body-style2-600: 0px;
  --letter-spacing-body-style3-1000: -1.600000023841858px;
  --letter-spacing-body-style3-900: -0.9599999785423279px;
  --letter-spacing-body-style3-800: -0.6399999856948853px;
  --letter-spacing-body-style3-700: -0.47999998927116394px;
  --letter-spacing-body-style3-600: -0.18000000715255737px;
  --letter-spacing-body-style3-500: -0.11999999731779099px;
  --letter-spacing-body-style3-100: 0px;
  --letter-spacing-body-style3-200: 0px;
  --letter-spacing-body-style3-300: 0px;
  --letter-spacing-body-style3-400: 0px;
  --letter-spacing-longform-style1-1000: -2.4000000953674316px;
  --letter-spacing-longform-style1-900: -1.9199999570846558px;
  --letter-spacing-longform-style1-800: -0.9599999785423279px;
  --letter-spacing-longform-style1-700: -0.47999998927116394px;
  --letter-spacing-longform-style1-600: -0.18000000715255737px;
  --letter-spacing-longform-style1-500: -0.11999999731779099px;
  --letter-spacing-longform-style1-100: 0px;
  --letter-spacing-longform-style1-200: 0px;
  --letter-spacing-longform-style1-300: 0px;
  --letter-spacing-longform-style1-400: 0px;
  --letter-spacing-thumbnail-title: -1.9199999570846558px;
  --letter-spacing-thumbnail-description: 0px;
  --letter-spacing-title-style1-1000: -2.4000000953674316px;
  --letter-spacing-title-style1-900: -1.9199999570846558px;
  --letter-spacing-title-style1-800: -0.9599999785423279px;
  --letter-spacing-title-style1-700: -0.47999998927116394px;
  --letter-spacing-title-style1-600: -0.18000000715255737px;
  --letter-spacing-title-style1-500: -0.11999999731779099px;
  --letter-spacing-title-style1-100: 0px;
  --letter-spacing-title-style1-200: 0px;
  --letter-spacing-title-style1-300: 0px;
  --letter-spacing-title-style1-400: 0px;
  --letter-spacing-title-style2-1000: -1.600000023841858px;
  --letter-spacing-title-style2-900: -1.440000057220459px;
  --letter-spacing-title-style2-800: -0.6399999856948853px;
  --letter-spacing-title-style2-700: -0.23999999463558197px;
  --letter-spacing-title-style2-100: 0px;
  --letter-spacing-title-style2-200: 0px;
  --letter-spacing-title-style2-300: 0px;
  --letter-spacing-title-style2-400: 0px;
  --letter-spacing-title-style2-500: 0px;
  --letter-spacing-title-style2-600: 0px;
  --letter-spacing-title-style3-1000: -1.600000023841858px;
  --letter-spacing-title-style3-900: -1.440000057220459px;
  --letter-spacing-title-style3-800: -0.6399999856948853px;
  --letter-spacing-title-style3-700: -0.47999998927116394px;
  --letter-spacing-title-style3-100: 0px;
  --letter-spacing-title-style3-200: 0px;
  --letter-spacing-title-style3-300: 0px;
  --letter-spacing-title-style3-400: 0px;
  --letter-spacing-title-style3-500: 0px;
  --letter-spacing-title-style3-600: 0px;
  --letter-spacing-title-style4-1000: -1.600000023841858px;
  --letter-spacing-title-style4-900: -0.9599999785423279px;
  --letter-spacing-title-style4-800: -0.6399999856948853px;
  --letter-spacing-title-style4-700: -0.47999998927116394px;
  --letter-spacing-title-style4-600: -0.18000000715255737px;
  --letter-spacing-title-style4-500: -0.11999999731779099px;
  --letter-spacing-title-style4-100: 0px;
  --letter-spacing-title-style4-200: 0px;
  --letter-spacing-title-style4-300: 0px;
  --letter-spacing-title-style4-400: 0px;

  
}

[data-theme="400"] {
  /* number */
  --icon-dimension-height: 32px;
  --icon-dimension-width: 32px;
  --icon-radius-icon-radius-100: 2px;
  --icon-radius-icon-radius-200: 4px;
  --icon-radius-icon-radius-300: 6px;
  --icon-radius-icon-radius-400: 8px;
  --icon-weight-primary: 2px;
  --icon-weight-strikethrough: 6px;
}
[data-theme="100"] {
  /* number */
  --icon-dimension-height: 16px;
  --icon-dimension-width: 16px;
  --icon-radius-icon-radius-100: 1px;
  --icon-radius-icon-radius-200: 2px;
  --icon-radius-icon-radius-300: 3px;
  --icon-radius-icon-radius-400: 4px;
  --icon-weight-primary: 1.100000023841858px;
  --icon-weight-strikethrough: 3px;
}
[data-theme="200"] {
  /* number */
  --icon-dimension-height: 20px;
  --icon-dimension-width: 20px;
  --icon-radius-icon-radius-100: 2px;
  --icon-radius-icon-radius-200: 2px;
  --icon-radius-icon-radius-300: 3px;
  --icon-radius-icon-radius-400: 4px;
  --icon-weight-primary: 1.25px;
  --icon-weight-strikethrough: 3.75px;
}
[data-theme="300"] {
  /* number */
  --icon-dimension-height: 24px;
  --icon-dimension-width: 24px;
  --icon-radius-icon-radius-100: 2px;
  --icon-radius-icon-radius-200: 2px;
  --icon-radius-icon-radius-300: 3px;
  --icon-radius-icon-radius-400: 4px;
  --icon-weight-primary: 1.5px;
  --icon-weight-strikethrough: 4.5px;
}