@theme {
	--spacing-0: 0px;
	--spacing-25: 1px;
	--spacing-50: 2px;
	--spacing-75: 4px;
	--spacing-100: 8px;
	--spacing-150: 12px;
	--spacing-200: 16px;
	--spacing-300: 24px;
	--spacing-400: 32px;
	--spacing-450: 44px;
	--spacing-500: 48px;
	--spacing-600: 64px;
	--spacing-700: 80px;
	--spacing-800: 96px;
	--spacing-900: 128px;
	--spacing-1000: 160px;
	--spacing-1100: 192px;
	--spacing-1200: 256px;
	--spacing-1300: 320px;
}

@layer base {
	:root {
		--spacer-spacer-100: var(--spacing-50);
		--spacer-spacer-200: var(--spacing-75);
		--spacer-spacer-300: var(--spacing-100);
		--spacer-spacer-400: var(--spacing-200);
		--spacer-spacer-500: var(--spacing-300);
		--spacer-spacer-600: var(--spacing-500);
		--spacer-spacer-700: var(--spacing-600);
		--spacer-spacer-800: var(--spacing-800);

		@media (min-width: theme(--breakpoint-tablet)) {
			--spacer-spacer-100: var(--spacing-50);
			--spacer-spacer-200: var(--spacing-75);
			--spacer-spacer-300: var(--spacing-100);
			--spacer-spacer-400: var(--spacing-200);
			--spacer-spacer-500: var(--spacing-300);
			--spacer-spacer-600: var(--spacing-500);
			--spacer-spacer-700: var(--spacing-600);
			--spacer-spacer-800: var(--spacing-800);
		}

		@media (min-width: theme(--breakpoint-desktop)) {
			--spacer-spacer-100: var(--spacing-50);
			--spacer-spacer-200: var(--spacing-75);
			--spacer-spacer-300: var(--spacing-100);
			--spacer-spacer-400: var(--spacing-200);
			--spacer-spacer-500: var(--spacing-300);
			--spacer-spacer-600: var(--spacing-500);
			--spacer-spacer-700: var(--spacing-700);
			--spacer-spacer-800: var(--spacing-1000);
		}
	}
}
