@layer base {
  @font-face {
    font-family: Graphik;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:
      url('/fonts/graphik-regular.woff2') format('woff2'),
      url('/fonts/graphik-regular.woff') format('woff');
  }

  @font-face {
    font-family: Graphik;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:
      url('/fonts/graphik-regular.woff2') format('woff2'),
      url('/fonts/graphik-regular.woff') format('woff');
  }
}