@theme {
	--grid-default-gutter: 12px;
	--grid-default-margin: 21px;
	--grid-default-margin-offset: 21px;

	--grid-default-colspan-1: 18px;
	--grid-default-colspan-2: 48px;
	--grid-default-colspan-3: 78px;
	--grid-default-colspan-4: 108px;
	--grid-default-colspan-5: 138px;
	--grid-default-colspan-6: 168px;
	--grid-default-colspan-7: 198px;
	--grid-default-colspan-8: 228px;
	--grid-default-colspan-9: 258px;
	--grid-default-colspan-10: 288px;
	--grid-default-colspan-11: 318px;
	--grid-default-colspan-12: 348px;
	--grid-default-colspan-fullwidth: 390px;
	--grid-default-colspan-sidepanel: 390px;

	--grid-default-height: 844px;
	--grid-default-height-landscape-colspan-1: 10px;
	--grid-default-height-landscape-colspan-2: 27px;
	--grid-default-height-landscape-colspan-3: 44px;
	--grid-default-height-landscape-colspan-4: 61px;
	--grid-default-height-landscape-colspan-5: 78px;
	--grid-default-height-landscape-colspan-6: 95px;
	--grid-default-height-landscape-colspan-7: 111px;
	--grid-default-height-landscape-colspan-8: 128px;
	--grid-default-height-landscape-colspan-9: 145px;
	--grid-default-height-landscape-colspan-10: 162px;
	--grid-default-height-landscape-colspan-11: 179px;
	--grid-default-height-landscape-colspan-12: 196px;
	--grid-default-height-landscape-colspan-fullwidth: 219px;

	--grid-default-height-portrait-colspan-1: 23px;
	--grid-default-height-portrait-colspan-2: 60px;
	--grid-default-height-portrait-colspan-3: 98px;
	--grid-default-height-portrait-colspan-4: 135px;
	--grid-default-height-portrait-colspan-5: 173px;
	--grid-default-height-portrait-colspan-6: 210px;
	--grid-default-height-portrait-colspan-7: 248px;
	--grid-default-height-portrait-colspan-8: 285px;
	--grid-default-height-portrait-colspan-9: 323px;
	--grid-default-height-portrait-colspan-10: 360px;
	--grid-default-height-portrait-colspan-11: 398px;
	--grid-default-height-portrait-colspan-12: 435px;
	--grid-default-height-portrait-colspan-fullwidth: 488px;

	--grid-fullwidth-gutter: 0px;
	--grid-fullwidth-margin: 0px;
	--grid-fullwidth-margin-offset: 21px;

	--grid-fullwidth-colspan-1: 32.5px;
	--grid-fullwidth-colspan-2: 65px;
	--grid-fullwidth-colspan-3: 97.5px;
	--grid-fullwidth-colspan-4: 130px;
	--grid-fullwidth-colspan-5: 162.5px;
	--grid-fullwidth-colspan-6: 195px;
	--grid-fullwidth-colspan-7: 227.5px;
	--grid-fullwidth-colspan-8: 260px;
	--grid-fullwidth-colspan-9: 292.5px;
	--grid-fullwidth-colspan-10: 325px;
	--grid-fullwidth-colspan-11: 357.5px;
	--grid-fullwidth-colspan-12: 390px;
	--grid-fullwidth-colspan-fullwidth: 390px;

	--grid-fullwidth-height: 844px;
	--grid-fullwidth-height-landscape-colspan-1: 18px;
	--grid-fullwidth-height-landscape-colspan-2: 37px;
	--grid-fullwidth-height-landscape-colspan-3: 55px;
	--grid-fullwidth-height-landscape-colspan-4: 73px;
	--grid-fullwidth-height-landscape-colspan-5: 91px;
	--grid-fullwidth-height-landscape-colspan-6: 110px;
	--grid-fullwidth-height-landscape-colspan-7: 128px;
	--grid-fullwidth-height-landscape-colspan-8: 146px;
	--grid-fullwidth-height-landscape-colspan-9: 165px;
	--grid-fullwidth-height-landscape-colspan-10: 183px;
	--grid-fullwidth-height-landscape-colspan-11: 201px;
	--grid-fullwidth-height-landscape-colspan-12: 219px;
	--grid-fullwidth-height-landscape-colspan-fullwidth: 219px;

	--grid-fullwidth-height-portrait-colspan-1: 41px;
	--grid-fullwidth-height-portrait-colspan-2: 81px;
	--grid-fullwidth-height-portrait-colspan-3: 122px;
	--grid-fullwidth-height-portrait-colspan-4: 163px;
	--grid-fullwidth-height-portrait-colspan-5: 203px;
	--grid-fullwidth-height-portrait-colspan-6: 244px;
	--grid-fullwidth-height-portrait-colspan-7: 284px;
	--grid-fullwidth-height-portrait-colspan-8: 325px;
	--grid-fullwidth-height-portrait-colspan-9: 366px;
	--grid-fullwidth-height-portrait-colspan-10: 406px;
	--grid-fullwidth-height-portrait-colspan-11: 447px;
	--grid-fullwidth-height-portrait-colspan-12: 488px;
	--grid-fullwidth-height-portrait-colspan-fullwidth: 488px;
}

:root {
	@media (min-width: theme(--breakpoint-tablet)) {
		--grid-default-gutter: 12px;
		--grid-default-margin: 21px;
		--grid-default-margin-offset: 21px;

		--grid-default-colspan-1: 55px;
		--grid-default-colspan-2: 122px;
		--grid-default-colspan-3: 189px;
		--grid-default-colspan-4: 256px;
		--grid-default-colspan-5: 323px;
		--grid-default-colspan-6: 390px;
		--grid-default-colspan-7: 457px;
		--grid-default-colspan-8: 524px;
		--grid-default-colspan-9: 591px;
		--grid-default-colspan-10: 658px;
		--grid-default-colspan-11: 725px;
		--grid-default-colspan-12: 792px;
		--grid-default-colspan-fullwidth: 834px;
		--grid-default-colspan-sidepanel: 450px;

		--grid-default-height: 852px;
		--grid-default-height-landscape-colspan-1: 31px;
		--grid-default-height-landscape-colspan-2: 69px;
		--grid-default-height-landscape-colspan-3: 106px;
		--grid-default-height-landscape-colspan-4: 144px;
		--grid-default-height-landscape-colspan-5: 182px;
		--grid-default-height-landscape-colspan-6: 219px;
		--grid-default-height-landscape-colspan-7: 257px;
		--grid-default-height-landscape-colspan-8: 295px;
		--grid-default-height-landscape-colspan-9: 332px;
		--grid-default-height-landscape-colspan-10: 370px;
		--grid-default-height-landscape-colspan-11: 408px;
		--grid-default-height-landscape-colspan-12: 446px;
		--grid-default-height-landscape-colspan-fullwidth: 469px;

		--grid-default-height-portrait-colspan-1: 69px;
		--grid-default-height-portrait-colspan-2: 153px;
		--grid-default-height-portrait-colspan-3: 236px;
		--grid-default-height-portrait-colspan-4: 320px;
		--grid-default-height-portrait-colspan-5: 404px;
		--grid-default-height-portrait-colspan-6: 488px;
		--grid-default-height-portrait-colspan-7: 571px;
		--grid-default-height-portrait-colspan-8: 655px;
		--grid-default-height-portrait-colspan-9: 739px;
		--grid-default-height-portrait-colspan-10: 823px;
		--grid-default-height-portrait-colspan-11: 906px;
		--grid-default-height-portrait-colspan-12: 990px;
		--grid-default-height-portrait-colspan-fullwidth: 1043px;

		--grid-fullwidth-gutter: 0px;
		--grid-fullwidth-margin: 0px;
		--grid-fullwidth-margin-offset: 21px;

		--grid-fullwidth-colspan-1: 69.5px;
		--grid-fullwidth-colspan-2: 139px;
		--grid-fullwidth-colspan-3: 208.5px;
		--grid-fullwidth-colspan-4: 278px;
		--grid-fullwidth-colspan-5: 347.5px;
		--grid-fullwidth-colspan-6: 417px;
		--grid-fullwidth-colspan-7: 486.5px;
		--grid-fullwidth-colspan-8: 556px;
		--grid-fullwidth-colspan-9: 625.5px;
		--grid-fullwidth-colspan-10: 695px;
		--grid-fullwidth-colspan-11: 764.5px;
		--grid-fullwidth-colspan-12: 834px;
		--grid-fullwidth-colspan-fullwidth: 834px;

		--grid-fullwidth-height: 852px;
		--grid-fullwidth-height-landscape-colspan-1: 39px;
		--grid-fullwidth-height-landscape-colspan-2: 78px;
		--grid-fullwidth-height-landscape-colspan-3: 117px;
		--grid-fullwidth-height-landscape-colspan-4: 156px;
		--grid-fullwidth-height-landscape-colspan-5: 195px;
		--grid-fullwidth-height-landscape-colspan-6: 235px;
		--grid-fullwidth-height-landscape-colspan-7: 274px;
		--grid-fullwidth-height-landscape-colspan-8: 313px;
		--grid-fullwidth-height-landscape-colspan-9: 352px;
		--grid-fullwidth-height-landscape-colspan-10: 391px;
		--grid-fullwidth-height-landscape-colspan-11: 430px;
		--grid-fullwidth-height-landscape-colspan-12: 469px;
		--grid-fullwidth-height-landscape-colspan-fullwidth: 469px;

		--grid-fullwidth-height-portrait-colspan-1: 87px;
		--grid-fullwidth-height-portrait-colspan-2: 174px;
		--grid-fullwidth-height-portrait-colspan-3: 261px;
		--grid-fullwidth-height-portrait-colspan-4: 348px;
		--grid-fullwidth-height-portrait-colspan-5: 434px;
		--grid-fullwidth-height-portrait-colspan-6: 521px;
		--grid-fullwidth-height-portrait-colspan-7: 608px;
		--grid-fullwidth-height-portrait-colspan-8: 695px;
		--grid-fullwidth-height-portrait-colspan-9: 782px;
		--grid-fullwidth-height-portrait-colspan-10: 869px;
		--grid-fullwidth-height-portrait-colspan-11: 956px;
		--grid-fullwidth-height-portrait-colspan-12: 1043px;
		--grid-fullwidth-height-portrait-colspan-fullwidth: 1043px;
	}


  @media (min-width: theme(--breakpoint-desktop)) {
    --grid-default-gutter: 40px;
    --grid-default-margin: 80px;
    --grid-default-margin-offset: 16px;

    --grid-default-colspan-1: 70px;
    --grid-default-colspan-2: 180px;
    --grid-default-colspan-3: 290px;
    --grid-default-colspan-4: 400px;
    --grid-default-colspan-5: 510px;
    --grid-default-colspan-6: 620px;
    --grid-default-colspan-7: 730px;
    --grid-default-colspan-8: 840px;
    --grid-default-colspan-9: 950px;
    --grid-default-colspan-10: 1060px;
    --grid-default-colspan-11: 1170px;
    --grid-default-colspan-12: 1280px;
    --grid-default-colspan-fullwidth: 1440px;
    --grid-default-colspan-sidepanel: 450px;

    --grid-default-height: 900px;
    --grid-default-height-landscape-colspan-1: 39px;
    --grid-default-height-landscape-colspan-2: 101px;
    --grid-default-height-landscape-colspan-3: 163px;
    --grid-default-height-landscape-colspan-4: 225px;
    --grid-default-height-landscape-colspan-5: 287px;
    --grid-default-height-landscape-colspan-6: 349px;
    --grid-default-height-landscape-colspan-7: 411px;
    --grid-default-height-landscape-colspan-8: 473px;
    --grid-default-height-landscape-colspan-9: 534px;
    --grid-default-height-landscape-colspan-10: 596px;
    --grid-default-height-landscape-colspan-11: 658px;
    --grid-default-height-landscape-colspan-12: 756px;
    --grid-default-height-landscape-colspan-fullwidth: 810px;

    --grid-default-height-portrait-colspan-1: 88px;
    --grid-default-height-portrait-colspan-2: 225px;
    --grid-default-height-portrait-colspan-3: 363px;
    --grid-default-height-portrait-colspan-4: 500px;
    --grid-default-height-portrait-colspan-5: 638px;
    --grid-default-height-portrait-colspan-6: 775px;
    --grid-default-height-portrait-colspan-7: 913px;
    --grid-default-height-portrait-colspan-8: 1050px;
    --grid-default-height-portrait-colspan-9: 1188px;
    --grid-default-height-portrait-colspan-10: 1325px;
    --grid-default-height-portrait-colspan-11: 1463px;
    --grid-default-height-portrait-colspan-12: 1600px;
    --grid-default-height-portrait-colspan-fullwidth: 1800px;

    --grid-fullwidth-gutter: 0px;
    --grid-fullwidth-margin: 0px;
    --grid-fullwidth-margin-offset: 16px;

    --grid-fullwidth-colspan-1: 120px;
    --grid-fullwidth-colspan-2: 240px;
    --grid-fullwidth-colspan-3: 360px;
    --grid-fullwidth-colspan-4: 480px;
    --grid-fullwidth-colspan-5: 600px;
    --grid-fullwidth-colspan-6: 720px;
    --grid-fullwidth-colspan-7: 840px;
    --grid-fullwidth-colspan-8: 960px;
    --grid-fullwidth-colspan-9: 1080px;
    --grid-fullwidth-colspan-10: 1200px;
    --grid-fullwidth-colspan-11: 1320px;
    --grid-fullwidth-colspan-12: 1440px;
    --grid-fullwidth-colspan-fullwidth: 1440px;

    --grid-fullwidth-height: 900px;
    --grid-fullwidth-height-landscape-colspan-1: 68px;
    --grid-fullwidth-height-landscape-colspan-2: 135px;
    --grid-fullwidth-height-landscape-colspan-3: 203px;
    --grid-fullwidth-height-landscape-colspan-4: 270px;
    --grid-fullwidth-height-landscape-colspan-5: 338px;
    --grid-fullwidth-height-landscape-colspan-6: 405px;
    --grid-fullwidth-height-landscape-colspan-7: 473px;
    --grid-fullwidth-height-landscape-colspan-8: 540px;
    --grid-fullwidth-height-landscape-colspan-9: 608px;
    --grid-fullwidth-height-landscape-colspan-10: 675px;
    --grid-fullwidth-height-landscape-colspan-11: 743px;
    --grid-fullwidth-height-landscape-colspan-12: 810px;
    --grid-fullwidth-height-landscape-colspan-fullwidth: 810px;

    --grid-fullwidth-height-portrait-colspan-1: 150px;
    --grid-fullwidth-height-portrait-colspan-2: 300px;
    --grid-fullwidth-height-portrait-colspan-3: 450px;
    --grid-fullwidth-height-portrait-colspan-4: 600px;
    --grid-fullwidth-height-portrait-colspan-5: 750px;
    --grid-fullwidth-height-portrait-colspan-6: 900px;
    --grid-fullwidth-height-portrait-colspan-7: 1050px;
    --grid-fullwidth-height-portrait-colspan-8: 1200px;
    --grid-fullwidth-height-portrait-colspan-9: 1350px;
    --grid-fullwidth-height-portrait-colspan-10: 1500px;
    --grid-fullwidth-height-portrait-colspan-11: 1650px;
    --grid-fullwidth-height-portrait-colspan-12: 1800px;
    --grid-fullwidth-height-portrait-colspan-fullwidth: 1800px;
  }
}
